@keyframes bar {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@keyframes bar {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.my-name {
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 3px;
		margin-left: 10px;
		width: 8px;
		border-radius: 3px;
	}

	&.blink {
		&::after {
			transition: 0.2s ease-out 0.5s;
			opacity: 0;
			// animation: bar 0.9s infinite;
		}
	}

	&::before {
		content: '';
		display: inline-block;
	}
}

.dark-my-name {
	background: radial-gradient(
		circle,
		#ae2ed9 0%,
		#3252e1 20%,
		#874278 40%,
		#71367c 60%,
		#2a57de 100%
	);

	/* transfer the background to text */
	-webkit-background-clip: text;
	/* to make the background as the color of text */
	color: transparent;
	background-size: 400%;
	animation: gradient 10s linear infinite alternate;

	&::after {
		background-color: #ab9bc4;
	}
}
.light-my-name {
	background: radial-gradient(
		circle,
		#f77f7f 0%,
		#e090ee 20%,
		#f77f7f 40%,
		#e090ee 60%,
		#f77f7f 100%
	);

	/* transfer the background to text */
	-webkit-background-clip: text;
	/* to make the background as the color of text */
	color: transparent;
	background-size: 400%;
	animation: gradient 10s linear infinite alternate;
	// font-family: Open Sans, sans-serif;

	&::after {
		background-color: rgb(165, 180, 252);
	}
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

.fullstack {
	font-family: cursive;
	letter-spacing: 0px;
}
