.work-content {
	&__list {
		// list Item has width of 75%
		width: 525%;

		// list Item has width of 50%
		@media screen and (min-width: 768px) and (max-width: 992px) {
			width: 350%;
		}

		// list Item has width of 25% -- now 22%
		@media screen and (min-width: 992px) {
			// width: 175%;
			width: 154%;
		}
	}

	&__details-wrapper {
		width: 100%;
		height: 100%;
		position: relative;

		border-radius: 6px;
		// overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: -3px;
			left: -3px;
			right: -3px;
			bottom: -3px;
			border-radius: inherit; /* Inherit border radius from parent */
			z-index: -1;
			transition: opacity 0.3s ease;
		}

		&.dark {
			&::before {
				background-image: linear-gradient(to right, #8f264e, #83309c, #4b2df3);
			}

			&:hover::before {
				background-image: linear-gradient(to right, #1c0794, #4b145c, #8f264e);
			}
		}

		&.light {
			&::before {
				background-image: linear-gradient(to right, #e65f8c, #ee833c, #f5cc18);
			}

			&:hover::before {
				background-image: linear-gradient(to right, #f5cc18, #ee833c, #e65f8c);
			}
		}
	}

	&__main-details {
		width: 100%;
		height: 100%;

		position: relative;

		transition: all ease 0.6s 0.1s;
	}

	// &__img {
	// }

	&__details {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;

		width: calc(100%);
		height: calc(100%);

		left: 0px;
		top: 0px;
		bottom: 0;

		border-radius: 6px;

		background-color: transparent;

		h3,
		span,
		button {
			position: relative;
			bottom: -110px;
			transition: all ease 0.3s 0.1s;
		}

		&:hover {
			h3,
			span,
			button {
				bottom: 0;
			}
		}
	}

	&__details.dark {
		background-color: rgba(94, 54, 122, 0.2);
		&:hover {
			background-color: rgba(15, 15, 46, 0.8);
		}
	}

	&__details.light {
		background-color: rgba(232, 186, 226, 0.2);
		&:hover {
			// background-color: rgba(232, 186, 226, 0.6);
			background-color: rgba(189, 128, 207, 0.8);
		}
	}
}

.navigation-btn {
	display: none;
}

.work-bar {
	width: calc(100% - 40px);
	height: 1px;

	position: relative;
	margin: 40px 0 0 20px;

	p {
		height: 1px;

		position: absolute;
		top: 50%;
		left: 0;

		transform: translate(0, -50%);
		transition: all 0.4s linear 0.1s;

		border-radius: 500px;
	}

	&.dark {
		background-color: #7a729c;

		p {
			background-image: linear-gradient(to right, #191742, #f1f2f7, #191742);
		}
	}

	&.light {
		background-color: #eee9ee;

		p {
			background-image: linear-gradient(to right, #fcfcff, #d145d1, #fcfcff);
		}
	}
}

@media screen and (min-width: 992px) {
	.navigation-btn {
		display: block;
		position: absolute;
		top: 50%;

		z-index: 999;

		width: 50px;
		height: 50px;
		border-radius: 50%;
		text-align: center;

		font-size: 12px;

		&.dark {
			color: #b9b9b9;
			border: 1px solid #343474;

			&:disabled {
				cursor: not-allowed;
				color: #2f2f5c;
			}
		}

		&.light {
			color: #e2dede;
			border: 1px solid #e99bde;

			&:disabled {
				cursor: not-allowed;
				color: #d399cb;
			}
		}

		.navigation-arrow {
			width: 60%;

			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.work-content__button--prev {
		left: 30px;
	}

	.work-content__button--next {
		right: 30px;
	}

	.work-bar {
		width: calc(100% - 400px);
		margin: 40px 0 0 200px;
	}
}
