.work-content {
	&__list {
		width: 525%;

		@media screen and (min-width: 992px) {
			width: 175%;
		}
	}

	&__details-wrapper {
		width: 100%;
		height: 100%;
		position: relative;

		overflow: hidden;
	}

	&__main-details {
		width: 100%;
		height: 100%;

		position: relative;

		transition: all ease 0.6s 0.1s;

		&:hover {
			transform: scale(1.04);
		}
	}

	// &__img {
	// 	transition: all ease 1s 0.1s;
	// 	transform: scale(1);
	// 	will-change: transform;
	// }

	&__details {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;

		width: calc(100%);
		height: calc(100%);

		left: 0px;
		top: 0px;
		bottom: 0;

		background-color: transparent;

		h3,
		span {
			position: relative;
			bottom: -72px;
			transition: all ease 0.3s 0.1s;
		}

		&:hover {
			h3,
			span {
				bottom: 0;
			}
		}
	}

	&__details.dark {
		&:hover {
			background-color: rgba(15, 15, 46, 0.8);
		}
	}

	&__details.light {
		&:hover {
			background-color: rgba(232, 186, 226, 0.6);
			// background-color: rgba(166, 180, 252, 0.8);
			// background-color: rgb(121, 114, 157)18%, 53%);
		}
	}
}
